@charset "UTF-8";
@media only screen and (max-width: 600px) {



    .portofolio {
        display: grid;
        grid-template-columns: 350px;
    }

    .contacto {
        padding-top: 700px;
        width: 100%;
        height: 70vh;
    }
    .send-footer {
        width: 320px;
    }

}



@media only screen and (min-width: 600px) {


}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}



/*Largura Minima-----------------------------------------*/

@media (min-width: 360px) and (max-width: 640px) {




}


/*// Small devices (landscape phones, 576px and up)*/

@media only screen and (max-width: 576px) {


}


@media only screen and (max-width: 768px) {

    

}

/*Iphone 6------------------------------------------*/

@media (min-width: 375px) and (max-width: 667px) {

    

}

/*Iphone 5------------------------------------------*/

@media (min-width: 320px) and (max-width: 568px) {


}

/*Surface pro 7-------------------------------------*/

@media (min-width: 912px) and (max-width: 1368px) {
    
}

/*Ipade Mini----------------------------------------*/

@media (min-width: 768px) and (max-width: 1024px) {


}