@charset "UTF-8";
@media only screen and (max-width: 600px) {

/*

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
    

    .topnav #myLinks {
        display: none;
    }
    

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    

    .active {
        background-color: #04AA6D;
        color: white;
    }
    */

    header {
        width: 100%;
        /*border-bottom: 2px solid #60A4D1;*/
    }

    .tema {
        display: none;
    }

    .menu-hamburguer {
        font-size: 22px;
    }

    .logo {
        font-size: 20px;
    }

    .itens-menu {
        display: none;
        width: 100%;
    }

    aside  {
        width: 100%;
        height: 100vh;
    }


    
    .sobre-mim {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .sobre-mim p {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    
    .sobre-mim span.nome {
        width: 100%;
        font-size: 28px;
    }
    

    .caixa-servicos {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        height: 50vh;
    
    }


    .servicos h1 {
        text-align: center;
        width: 100%;
    }


    .caixa-servicos button {
        width: 100%;
    }
    /*jornada--------------------------------------*/


    .jornada {
        display: grid;
        grid-template-columns: 350px;
    }

    .caixa-servicos h2 {
        padding: 10px;
    }


    .portofolio-container {
        padding-top: 500px;
    }

    .portofolio {
        display: grid;
        grid-template-columns: 350px;
    }

    .contacto {
        padding-top: 700px;
        width: 100%;
        height: 70vh;
    }
    .send-footer {
        width: 320px;
    }

}



@media only screen and (min-width: 600px) {


}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}



/*Largura Minima-----------------------------------------*/

@media (min-width: 360px) and (max-width: 640px) {




}


/*// Small devices (landscape phones, 576px and up)*/

@media only screen and (max-width: 576px) {


}


@media only screen and (max-width: 768px) {

    

}

/*Iphone 6------------------------------------------*/

@media (min-width: 375px) and (max-width: 667px) {

    

}

/*Iphone 5------------------------------------------*/

@media (min-width: 320px) and (max-width: 568px) {


}

/*Surface pro 7-------------------------------------*/

@media (min-width: 912px) and (max-width: 1368px) {
    
}

/*Ipade Mini----------------------------------------*/

@media (min-width: 768px) and (max-width: 1024px) {


}