@charset "UTF-8";

@font-face {
    font-family: Open Sans; 
    src: url(../font/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Rethink;
    src: url(../font/Rethink_Sans/RethinkSans-VariableFont_wght.ttf);
}
/*configuraçãoes-globais--------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Rethink;
}

body {
    background-color: #0C141A;
    overflow-x: none;
}


:root {
    --cor01:#60A4D1;
    --cor02:#4D84A8;
    --cor03:#71C0F5;
    --cor04:#3B647F;
    --cor05:#284457;
    --cor06:#ffffff;
    --cor07:#0C141A;
}




.portofolio-container {
    /*background-image: url(../img/1149603-01.jpg);*/
    background-size: cover;
    width: 100%;
    height: 150vh;
}

.container-portofolio {

    display: flex;
    align-items: center;
    justify-content: center;
}

.portofolio-container h2 {  
    text-align: center;
    padding: 30px 0px 0px 0px;
    font-weight: 300;
    font-size: 27px;
    color: white;
    
}

.portofolio-container .segundo {
    padding: 50px 20px 30px 35px;
    font-size: 25px;
    color: #5a9ecc;
}



.portofolio {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    justify-content: center;
    gap: 20px;
    width: 100%;
    color: white;
}

.caixa-portofolio {
    border: 2px solid var(--cor04);
    border-radius: 10px;
    background-image: url(../img/1149603-01.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    background-color: #0C141A;

}

.projecto01 {
    
}
.projecto02 {
    
}
.projecto03 {
    
}
.projecto04 {
    
}

.caixa-portofolio h3 {
    font-size: 20px;
    color: white;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    padding: 10px 10px 5px 20px;
    /*background-color: #284457;*/
    background: #0C141A;
    border-bottom: 2px solid var(--cor04);
}
.caixa-portofolio h3 a i {
    font-size: 30px;
    color: #5a9ecc;
}


/*fim do portofolio-------------------------------------*/

/*contacto---------------------------------------------*/


.contacto {
    background-color: #0C141A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    color: #60A4D1;
}

.contacto h1 {
    color: #60A4D1;
    padding-bottom: 15px;
}



.contacto h2 {

    padding-bottom: 20px;
    font-weight: 300;
    font-size: 25px;
    color: #5a9ecc;
}





.social a i:hover {
    color: #71C0F5;
}

.send-footer {
    background-color: #0c141a;
    border: 2px solid var(--cor04);
    color: #60A4D1;
    height: 30px;
    width: 500px;
    padding: 5px;
    border-radius: 8px;
    margin: 4px;
}

.mensagem {
    height: 100px;
}

.send-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: linear-gradient(to right, #5a9ecc 20%, #1572B6 );
    background-color: #3d6a88;
    font-weight: 600;
    font-size: 17px;
    width: 250px;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    border: none;


}


.cadastrar {
    padding: 5px;
    color: #60A4D1;
    background-color: var(--cor05);
    cursor: pointer;
}


/* fim dos contactos------------------------------*/


/*rodape------------------------------------------*/



.social-contentor  {

    padding: 50px;
    text-align: center;
}

.social-contentor h2 {
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 25px;
    color: #5a9ecc;
}

.social-contentor .social a i    {
    color: #5a9ecc;
    font-size: 25px;
    padding: 8px;
    border: 1px solid #5a9ecc;
    border-radius: 50%;
    margin: 5px;
}

.social-contentor  button {
    margin-top: 15px;
    background-image: linear-gradient(to right, #5a9ecc 20%, #1572B6 );
    background-color: #3d6a88;
    font-weight: 600;
    font-size: 17px;
    width: 250px;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    border: none;
}






