@charset "UTF-8";

@font-face {
    font-family: Open Sans; 
    src: url(../font/OpenSans-VariableFont_wdth\,wght.ttf);
}
/*configuraçãoes-globais--------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Open Sans;
}

body {
    background-color: #000000;
}


:root {
    --cor01:#60A4D1;
    --cor02:#4D84A8;
    --cor03:#71C0F5;
    --cor04:#3B647F;
    --cor05:#284457;
    --cor06:#ffffff;
    --cor07:#000000;
}


header {
    display: flex;
    align-items: center;
    background-color: #14212b;
    color: white;
    display: flex;
    justify-content: space-around; 
    padding: 20px;
    position: fixed;
    width: 100%;
    /*border-bottom: 2px solid #60A4D1;*/
}

.itens-menu {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}

.itens-menu li a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: 500;
}

.email-perfil {
    width: 200px;
    padding: 5px;
    border-radius: 10px;
}


.logo {
    font-size: 20px;
}

.tema a {
    color: #71C0F5;
    font-size: 25px;
}

/*conteudo-principal------------------------------*/
aside {
    /*background-image: url(../img/1149603-01.jpg);*/
    background-position: top center;
    /*background-size: cover;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c141a;
    color: white;
    height: 100vh;
}

.sobre {
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
}

.sobre-mim {
    font-size: 20px;
    padding-bottom: 20px;
}


.funcao {
    display: flex;
    justify-content: center;
    font-size: 22px;

}

.sobre-mim span.nome {
    color: #71C0F5;
    font-size: 60px;
}

.perfil {
    width: 250px;
    border-radius: 50%;
    padding: 20px;

}


/*fim-do-conteudo-principal---------------------------*/


/*servicos--------------------------------------------*/
.servicos {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding-bottom: 70px;
}

.servicos h1 {
    color: #60A4D1;
    padding: 30px;
}

.caixa-servicos {
    display: grid;
    grid-template-columns: 2fr 2fr;
    border: 2px solid var(--cor04);
    width: 80%;
    height: 22vh;
    border-radius: 8px;
    margin: 10px;
    color: #60A4D1;
    background-color: black;

}

.caixa-servicos button {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    border: none;
    color: #71C0F5;
    background-color: #192b36;
    cursor: pointer;
}

.caixa-servicos h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #71C0F5;
    border-bottom: 2px solid var(--cor04);
    border-radius: 8px 0px 0px 0px;
    text-align: center;
    /*background-color: #284457;*/
    background-color: #0c141a;
}

.caixa-servicos p {
    padding: 20px 30px 20px 40px;
    text-align: center;
}

/*fim-servicos--------------------------------------------*/

/*Jornada----------------------------------------------*/

.jornada {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    justify-content: center;
    align-items: center;
    height:60vh;
    background-color: black;
    gap: 20px;
}

.caixa-jornada {
    
    /*height: 200px;*/
    border-radius: 8px;
    border: 2px solid var(--cor04);


    /*width: 400px;*/
}

.caixa-jornada button {
    padding: 8px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    /*width: 300px;*/
    border-radius: 8px;
    border: none;
    color: #71C0F5;
    background-color: #192b36;
    cursor: pointer;
}

.caixa-jornada h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #71C0F5;
    border-bottom: 2px solid var(--cor04);
    /*background-color: var(--cor05);*/
    background: #0c141a;
    border-radius: 8px 8px 0px 0px;
    padding: 10px;

}

.caixa-jornada p {
    text-align: center;
    color: #60A4D1;
    padding: 20px;
}


/*Fim da Jornada---------------------------------------*/


/*portofolio-------------------------------------------*/



.portofolio-container {
    /*background-image: url(../img/1149603-01.jpg);*/
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.container-portofolio {

    display: flex;
    align-items: center;
    justify-content: center;
}

.portofolio-container h2 {
    color: #60A4D1;
    text-align: center;
    padding: 50px;
}

.portofolio {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    justify-content: center;
    gap: 20px;
    width: 100%;
    color: white;
}

.caixa-portofolio {
    border: 2px solid var(--cor04);
    border-radius: 10px;
    background-image: url(../img/1149603-01.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    background-color: #192b36;

}

.caixa-portofolio h3 {
    display: flex;
    justify-content: space-between;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    padding: 10px;
    /*background-color: #284457;*/
    background: #0c141a;
    border-bottom: 2px solid var(--cor04);
}
.caixa-portofolio h3 a i {
    font-size: 30px;
    color: white;
}


/*fim do portofolio-------------------------------------*/


/*contacto---------------------------------------------*/


.contacto {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    color: #60A4D1;
}

.contacto h1 {
    color: #60A4D1;
    padding-bottom: 15px;
}



.contacto h2 {
    color: var(--cor04);
    padding: 15px;
}

.social a i {
    font-size: 30px;
    margin: 5px;
    color: var(--cor04);
}

.social a i:hover {
    color: #71C0F5;
}

.send-footer {
    background-color: #0c141a;
    border: 2px solid var(--cor04);
    color: #60A4D1;
    height: 30px;
    width: 500px;
    padding: 5px;
    border-radius: 8px;
    margin: 4px;
}

.mensagem {
    height: 100px;
}

.send-botao {
    background-color: #284457;
    border: 2px solid var(--cor04);
    color: white;
    width: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    margin: auto;
    margin-top: 10px;
}


.cadastrar {
    padding: 5px;
    color: #60A4D1;
    background-color: var(--cor05);
    cursor: pointer;
}

/* fim dos contactos------------------------------*/





/*rodape------------------------------------------*/
footer { 
    padding: 15px;
    /*background: #0c141a;*/

}

footer a {
    text-decoration: none;
    color: #60A4D1;
    font-weight: 500;
}


.social-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-footer p {
    color: white;
}

.container-footer h2 {
    text-align: center;
    padding: 20px;
    color: #3B647F;
}

.social-footer a i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 8px;
    font-size: 28px;
    color: white;
}

.rodape {
    display: flex;
    justify-content: center;
    background-color: #0c141a;
}
.rodape a {
    color: white;
    text-decoration: none;
    padding: 20px;
}







